<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Joel Hilton Film Collection</title>
    <link rel="shortcut icon" type="image/svg" href="~/Rff1f890ba0b6c13f216af728dd22f055.png" />
</head>

<body>
    <center>
        <h1>@ViewBag.Title</h1>
       

        @RenderBody()

        <br />
        <br />

        <footer>Joel Hilton Copyright 2021</footer>
    </center>
</body>
</html>
