@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<center>
    <div class="text-center">
        <a asp-action="MyPodcasts">Click here to view my Podcast Page!</a>
        <a asp-action="MovieApplication">Click here to submit a movie application!</a>
        <br />
        <p>This is the master of film collectors right here</p>
        <br />
        <img src="~/JoelHilton.jpg" />
    </div>

    
</center>
