@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<center>
    <div class="text-center">
        <br />
        <p>This is the master of film collectors right here</p>
        <br />
        <img src="~/JoelHilton.jpg" />
    </div>

    
</center>
